<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryuunoakaihitomi.lowramswitcher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spaint"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

    </application>
</manifest>
